#canvas {
  border-style: inset;
  border-width: 15px;
  border-color: #42445A;
  background: url("Brick.png");
  filter: contrast(100%);
  border-radius: 50px;
}

#knb {
  position: fixed;
  transform: translate(770px, -800px);
  height: 30px;
  background: lime;
  border-color: black;
  border-style: solid;
  border-width: 2px;
}

button {
  height: 100px;
  width: 100px;
  background: white;
  border-width: 5px;
  border-radius: 20px;
}

#div1 {
  height: 300px;
  width: 400px;
  transform: translate(560px, -350px);
  position: fixed;
  opacity: 0.6;
}

#down {
  transform: translate(0px, 100px);
}

#sett {
  filter: brightness(0%);
}

#bot {
  animation-name: bot;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#Bkc {
  position: fixed;
  transform: translate(0px, -350px);
  animation-name: bot;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes bot {
  100% {
    transform: rotate(360deg) translate(0px, -350px);
  }
}

#infove {
  background-color: black;
  color: lime;
  width: 400px;

}

#Sticker {
  background: linear-gradient(350deg, blue, cyan);
  font-size: 60pt;
  width: 300px;
  border-style: inset;
  border-color: darkblue;
  border-width: 12px;
  font-family: cursive;
  font-weight: bolder;
  color: white;
  text-shadow: 5px 5px 5px gray;
  border-radius: 150px;
  text-indent: 15px;
  transform: translate(590px, -150px);
}